{
    "IsEncrypted": false,
    "Values": {
        "FUNCTIONS_WORKER_RUNTIME": "python",
        "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "CONTENT_SAFETY_ENDPOINT": "",
        "AI_SERVICES_ENDPOINT": ""
    }
}
